/*
CSS preprocesoriai nereikalingi ypač kai CSS turi variable funkcijas
*/
header a, button
	{
	font-size: 2rem;
	color: #505050;
	}
input[type="password"], h1
	{
	font-size: 1.2rem;
	color: #505050;
	}
input[type="submit"]
	{
	font-size: 1.1rem;
	color: #FFF;
	}
nav a, figcaption
	{
	font-size: 1.4rem;
	color: #FFF;
	}
dd
	{
	font-size: 0.8rem;
	color: #505050;
	}
input, dt
	{
	font-size: 0.9rem;
	color: #505050;
	}
address
	{
	font-size: 0.8rem;
	color: #EEE;
	}
label a, h2
	{
	font-size: 0.8rem;
	color: #A0A0A0;
	}
small a
	{
	font-size: 0.7rem;
	color: #808080;
	}
label, small
	{
	font-size: 0.7rem;
	color: #A0A0A0;
	}
small a
	{
	font-weight: 700;
	}
*
	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.04rem;
	text-decoration: none;
	text-overflow: ellipsis;
	}
body
	{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
	min-height: 100vh;
	width: 100vw;
	background: #E2E2E2;
	}
nav
	{
	position: absolute;
	left: -30vw;
	display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	height: 95vh;
	width: 30vw;
	padding: 0 5vw;
	background: #00D8C2;
	transition: all 0.2s ease;
	}
.navigation
	{
	transform: translateX(30vw);
	}
#menu a
	{
	padding: 1.5vh 0;
	}
#menu figure
	{
	display: flex;
	margin: 10vh 0;
	}
#menu figure img
	{
	height: auto;
	width: 8vmin;
	margin-right: 2vw;
	border-radius: 50%;
	}
main
	{
	position: relative;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-content: space-between;
	align-items: flex-start;
	height: 95vh;
	width: 30vw;
	background: #FFF;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	}
#logo
	{
	margin-top: 15vh;
	height: auto;
	width: 12vw;
	}
main figure
	{
	position: relative;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-self: flex-end;
	}
main figure img
	{
	height: auto;
	width: 8vw;
	border-radius: 50%;
	}
main figure button
	{
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	transition: background 0.2s ease;
	background: #00D8C2;
	color: #FFF;
	border-radius: 50%;
	height: 5vmin;
	width: 5vmin;
	}
main figure button:hover
	{
	cursor: pointer;
	background: #00B3A1;
	}
header
	{
	display: grid;
	grid-template-columns: 8vmin auto 8vmin;
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;
	margin-bottom: 2vh;
	height: 7vh;
	width: 30vw;
	}
header a
	{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	transition: color 0.2s ease;
	height: 5vmin;
	width: 8vmin;
	}
header a:hover
	{
	color: #B0B0B0;
	}
header button
	{
	border: none;
	background: none;
	height: 5vmin;
	width: 8vmin;
	}
header button:hover
	{
	cursor: pointer;
	color: #B0B0B0;
	}
form
	{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	}
span
	{
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	height: auto;
	width: 100%;
	}
label
	{
	padding: 2vh 2.5vw;
	position: relative;
	height: auto;
	width: 30vw;
	}
input
	{
	display: block;
	border: none;
	border-bottom: thin solid #E2E2E2;
	outline: none;
	height: 5vh;
	width: 25vw;
	}
input[type="submit"]
	{
	border: none;
	transition: background 0.2s ease;
	background: #00D8C2;
	margin-top: 4vh;
	height: 8vh;
	width: 25vw;
	}
input[type="submit"]:hover
	{
	cursor: pointer;
	background: #00B3A1;
	}
label a
	{
	position: absolute;
	right: 2.5vw;
	}
#title
	{
	padding-top: 3vh;
	background: #F8F8F9;
	}
#description
	{
	padding-bottom: 3vh;
	background: #F8F8F9;
	}
#description input
	{
	border: none;
	}
#title input, #description input
	{
	background: #F8F8F9;
	border-bottom: thin solid #D2D2D2;
	}
.time
	{
	width: 15vw;
	}
.time input
	{
	height: auto;
	width: 10vw;
	}
h2
	{
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	align-self: flex-start;
	height: auto;
	width: 30vw;
	padding: 3vh 2.5vw;
	background: #F8F8F9;
	border-left: 4px solid lightgray;
	}
dl
	{
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	align-self: flex-start;
	padding: 0 2.5vw;
	height: auto;
	width: 30vw;
	}
dl:nth-of-type(1)
	{
	border-left: 4px solid red;
	}
dl:nth-of-type(2)
	{
	border-left: 4px solid blue;
	}
dl:nth-of-type(3)
	{
	border-left: 4px solid gold;
	}
dl:nth-of-type(4)
	{
	border-left: 4px solid green;
	}
dl:nth-of-type(5)
	{
	border-left: 4px solid orange;
	}
dl:last-of-type dd
	{
	border: none;
	}
dt, dd
	{
	width: 100%;
	}
dt
	{
	padding-top: 3vh;
	}
dd
	{
	padding: 3vh 0;
	border-bottom: thin solid #E2E2E2;
	}
footer
	{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: flex-end;
	}
small
	{
	padding: 3vh 0;
	}
*
	{
	border: thin solid none;
	}
@media only screen and (max-width: 1024px) and (orientation: portrait)
	{

	}